<%- include("partials/header") -%>

    <div style="width: 70%; margin: 0 15%;">
        <h1 style="text-align: center; margin: 30px 0;">Home</h1>
        <p style="font-size: medium;">
            <%= homeStartingContent %>
        </p>
    </div>

    <h1 style="text-align: center; margin-top: 90px;">Blogs</h1>
    <div style="text-align: center; margin-top: 50px;">
        <form action="/search" method="post">
            <input type="text" name="topic" placeholder="Search for a blog" style="padding: 10px; border-radius: 5px;">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!-- ---------------  -->
                <% for(let i=0;i<Blogpost.length;i++){ %>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://source.unsplash.com/1600x600/?<%=Blogpost[i].title%>,macbook" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">
                                <h3 style="text-align: center; ">
                                    <%= Blogpost[i].title %>
                                </h3>
                            </text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text " style="padding: 10px;"">
                                    <%= Blogpost[i].content.substring(0,400) + "....." %>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-danger"><a style="color: black;"
                                                href="/posts/<%= Blogpost[i].title %>">View</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
    </div>





    <%- include("partials/footer") -%>