<%- include("partials/header") -%>

<h1> <%= Blogpost.title %> </h1>
<p style="font-size: medium;"> <%= Blogpost.content %> </p>

<form action="/post" method="post">
    <h1>Update Blog</h1>
    <div class="form-group">
        <input class="form-control" type="text" value="<%= Blogpost.title %>" name="uTitle" style="display: none;">
    </div>
    <div class="form-group">
        <label for="uContent">Enter updated information</label>
        <textarea  class="form-control" name="uContent" id="uContent" cols="30" rows="5"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>

<%- include("partials/footer") -%>